body{
	background-color: #eee;
}
h1{
	text-align: left;
	margin-left: 5em;
}
h2{
	font-weight: normal;
	margin-left: 1em;
	margin-top: 2em;
	margin-bottom: 2em;
}
.wrapper{
	margin: auto;
	width: 700px;
	background-color: white;
	padding: 1em;
	box-shadow: #bbb 2px 2px 2px;
}
.providers>ul{
	list-style: none;
}
li.provider{
	width: 240px;
	background-color: #fafafa;
	box-shadow: #bbb 2px 2px 2px;
}
li.provider a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	width: 200px;
	padding: 1em;
	color: #222;
	font-size: 20px;
}
