{% extends 'template/main.twig' %}
{% block content %}
    <h2>Please choose an authentication method</h2>
    <div class='providers'>
        <ul>
            <li class='provider'><a href="/consent/auth/eduid">Login with EDUID</a></li>
        </ul>
</br>
</br>
</br>
</br>
Alternatively login with a <a href="/consent/home/login">Local User</a>
</br>
<span style="font-size:8px">or even more alternatively with  <a href="/consent/auth/elte">Neptun or Caesar</a></span>

    </div>
{% endblock %}
